html, body {
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: rgb(240, 121, 10);
}

.mainTitle {
    border-style: solid;
    border-radius: 1rem;
    background: rgb(8, 8, 8);
}

.titleText {
    text-align: center;
    color: #f74a06;
}

.sideNavbar {
    border-style: solid;
    border-radius: 1rem;
    background: rgb(8, 8, 8);
}

.mainContentrow {
    flex-grow: 1;
}

.mainContent {
    border-style: solid;
    border-radius: 1rem;
    background: rgb(8, 8, 8);
}

.footer {
    border-style: solid;
    border-radius: 1rem;
    background: rgb(8, 8, 8);
}
